data/*
data/state_values.csv
data/features.csv
data/old_features.csv
data/benchmark_map.csv
data/_temp_map_file.csv
features*.csv
test/data/*
.CondaPkg
.CondaPkg/*
src/learning/.ipynb_checkpoints/
*.mem
models/tournament_*
